/* =======COLORS===================================== */
:root {
  --whitesmoke: rgba(241, 245, 248, 1);
  --yellowgreen: rgba(149, 200, 62, 1);
  --graysmoke: rgba(33, 33, 33, .05);
  --bluelink: rgba(51, 102, 187, 1);

  --black: #1c1c1c;
  --white: #FBFBFB;
  --gray: #929292;
  --pink: #F72585;
  --purple: #7209B7;
  --blue: #4CC9F0;
}

/* =======SCROLLBAR================================== */
::-webkit-scrollbar {
  width: 10px;
  height: 3px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #212121;
}

/* =======STYLES=========================================== */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: var(--black);
  color: var(--white);
}

a, button, p, input, textarea {
  font-size: .875rem;
}

@media (max-width: 768px) {
  a, button, p, input, textarea {
    font-size: 1rem;
  }
}

label {
  font-size: .75rem;
}

@media (max-width: 768px) {
  label {
    font-size: .875rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.main_loader {
  width: 100%;
  height: 100vh;
  background: var(--black);
  display: grid;
  place-items: center;
}

/* =======LOGO============================================= */
.logo {
  height: 100px;
  display: flex;
  align-items: center;
}

.logo_triangle_one {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 40px solid #F72585;
}

.logo_triangle_two {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 40px solid #4CC9F0;
}

.logo_triangle_three {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 40px solid #7209B7;
}

.logo_triangle_four {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 40px solid #FBFBFB;
}

@media (max-width: 768px) {
  .logo_triangle_one {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid #F72585;
  }

  .logo_triangle_two {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 30px solid #4CC9F0;
  }

  .logo_triangle_three {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid #7209B7;
  }

  .logo_triangle_four {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 30px solid #FBFBFB;
  }
}

/* =======NAVBAR=========================================== */
nav {
  width: calc(100% - 20vw);
  height: 80px;
  padding: 0 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: .7s ease-out;
}

nav section {
  margin-right: -2vw;
  display: flex;
  align-items: center;
}

nav section a,
nav section p {
  color: white;
  padding: 0 2vw;
  text-transform: uppercase;
  font-size: 1vw;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}

nav section a:hover {
  transform: scale(1.07);
}

nav section .navbar_button {
  padding: calc(40px - 7.5px) 2vw;
  background: #F72585;
  border-radius: 0 0 14px 14px;
}

nav section .navbar_button:hover {
  transform: scale(1.03);
}

.navs_sub_container {
  position: relative;
}

.navs_sub {
  position: absolute;
  left: 0;
  top: 30px;
}

.active_nav:after {
  content: '__';
  color: #F72585;
  position: absolute;
  left: 50%;
  top: 10px;
  font-weight: 900;
  transform: translateX(-50%);
}

.navbar_social_links {
  display: none;
}

@media (max-width: 768px) {
  nav section {
    display: none;
  }

  .navbar_social_links {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar_social_links p {
    margin-left: 15px;
    font-weight: 600;
  }
}

/* =======HERO============================================= */
.hero_container {
  width: 100%;
  height: calc(100vh - 80px);
  overflow: hidden;
  position: relative;
}

.hero h1 {
  font-size: 5vw;
  font-weight: 900;
  color: #FBFBFB;
  transition: .7s ease-out;
}

.hero_links {
  margin: 0 0 0 10vw;
  transition: .7s ease-out;
}

.hero_links .hero_links_button {
  padding: 10px 3vw;
  margin-right: 5vw;
  background: #F72585;
  border: 1px solid #F72585;
  color: white;
  border-radius: 4px;
  position: relative;
}

.hero_links .hero_links_button:hover {
  border: 1px solid #F72585;
  background: none;
  color: #F72585;
  transition: .2s ease-out;
}

.hero_links a {
  padding: 10px 3vw;
  color: #929292;
  background: none;
  font-size: 1.1vw;
}

.hero_links a:hover {
  color: #FBFBFB;
}

.hero_arrow {
  width: 35px;
  height: 35px;
  border: 2px solid #929292;
  border-radius: 100%;
  display: grid;
  place-items: center;
  color: #929292;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: .4;
  cursor: pointer;
  transition: .7s ease-out;
  animation: bounce .7s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}

@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}

.hero_arrow:hover {
  opacity: 1;
  transition-duration: .4s;
}

@media (max-width: 768px) {
  .hero_container {
    min-height: 600px;
  }

  .hero h1 {
    font-size: 2.7rem;
    padding-top: 100px;
  }

  .hero_links {
    margin: 0 0 0 10vw;
    display: block;
  }

  .hero_links a {
    display: none;
  }

  .hero_links .hero_links_button {
    width: 200px;
    display: block;
  }

  .hero_links .hero_links_button:hover {
    border: 1px solid #F72585;
    background: none;
    color: #F72585;
    transition: .2s ease-out;
  }

  .hero_links a {
    padding: 10px 3vw;
    color: #929292;
    background: none;
    font-size: 1rem;
  }

  .hero_arrow {
    display: none;
  }
}

/* =======ABOUT============================================ */
.about_page {
  width: 100%;
  height: calc(100vh - 80px);
}

.about {
  width: 100%;
  height: 100vh;
}

.about_us {
  width: calc(100% - 20vw);
  padding: 5vw 10vw 0 10vw;
  display: flex;
  align-items: center;
}

.about_us img {
  width: 18vw;
  height: 18vw;
  border-radius: 100%;
  filter: grayscale();
}

.about_us p {
  width: 100%;
  max-width: 750px;
  padding: 0 0 0 5vw;
}

.section_heading h3 {
  margin: 0 0 15px 0;
  text-transform: uppercase;
  color: var(--gray);
  font-size: 1.5vw;
}

.section_heading h1 {
  margin: 0;
  font-size: 3vw;
  font-weight: 900;
  position: relative;
}

.section_heading h1 span:after {
  content: '';
  height: 5px;
  background: var(--pink);
  position: absolute;
  border-radius: 14px;
}

@media (max-width: 768px) {
  .about {
    padding: 0 0 50px 0;
    height: 100%;
  }

  .about_us {
    flex-direction: column;
    align-items: flex-start;
  }

  .about_us img {
    width: 200px;
    height: 200px;
    margin-top: 25px;
  }

  .about_us p {
    padding: 25px 0 0 0;
  }

  .section_heading h3 {
    font-size: 4vw;
  }

  .section_heading h1 {
    font-size: 6.5vw;
  }

  .about_page {
    height: 100%;
    padding-bottom: 50px;
  }
}

/* =======PORTFOLIO======================================== */
.portfolio_container {
  width: 100%;
  min-height: 100vh;
}

.portfolios {
  width: calc(100% - 20vw);
  margin: 5vw 0 0 0;
  padding: 0 10vw 5vw 10vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 50px;
  align-items: center;
}

.portfolio {
  width: 100%;
  height: 425px;
  border-radius: 14px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.portfolio_overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .4);
  position: absolute;
  top: 0;
  left: 0;
}

.portfolio h2 {
  width: 100%;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(33, 33, 33, .4);
}

.portfolio p {
  width: 100%;
  margin: 0;
  position: absolute;
  left: 50%;
  bottom: 15px;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: 600;
  text-shadow: 3px 3px 7px rgba(33, 33, 33, 1);
}

.portfolio_arrow_right i {
  transform: rotate(-45deg);
}

.portfolio_one {
  margin: 0;
}

.portfolio_two {
  margin: -50px 0 0 0;
}

.portfolio_three {
  margin: 50px 0 0 0;
}

@media (max-width: 768px) {
  .portfolio_container {
    padding-bottom: 25px;
  }

  .portfolios {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
  }

  .portfolio {
    width: 100%;
    height: 375px;
    margin: 0 0 25px 0;
  }

  .portfolio p {
    font-size: 1rem;
  }
}

@media (max-width: 420px) {
  .portfolios {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 50px;
  }
}

/* =======TOOLS============================================ */
.tools {
  margin-top: 25px;
}

.tools,
.frameworks {
  width: 100%;
  padding: 50px 0;
  text-align: center;
}

.frameworks {
  border-top: 1px solid var(--graysmoke);
}

.tools h2 {
  margin: 25px 0 25px 0;
}

.tools div,
.frameworks div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tools img,
.frameworks img {
  width: 150px;
  margin: 0 15px;
}

.oversized_logo {
  width: 75px;
}

@media (max-width: 768px) {
  .tools div,
  .frameworks div {
    flex-wrap: wrap;
  }

  .tools img,
  .frameworks img {
    margin: 5px 15px;
  }
}

/* =======CONTACT========================================== */
.contact {
  min-height: 100vh;
  position: relative;
}

.contact a {
  color: var(--bluelink);
}

.contact form {
  width: 400px;
  margin: 25px 0 100px 10vw;
  text-align: left;
}

.contact form label {
  font-size: .75rem;
}

.contact form input,
.contact form textarea {
  width: calc(100% - 14px);
  margin: 2px 0 10px 0;
  padding: 7px;
  border: 1px solid rgba(33, 33, 33, .1);
  border-radius: 2px;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

.contact form textarea {
  width: calc(150% - 14px);
  resize: vertical;
  min-height: 125px;
}

.contact form input:focus,
.contact form textarea:focus {
  border: 1px solid var(--blue);
}

.contact form button {
  margin-top: 10px;
  padding: 8px 45px;
  border: none;
  border-radius: 4px;
  background: var(--pink);
  color: white;
  cursor: pointer;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

.contact form button:disabled {
  opacity: .4;
}

.contact_error_msg {
  margin: -8px 0 10px 0;
  color: red;
  font-size: .75rem;
}

footer {
  width: 80%;
  padding: 25px 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, .1);
  color: rgba(255, 255, 255, .4);
}

footer p {
  font-size: .7rem;
}

.contact footer a,
footer a {
  color: rgba(255, 255, 255, .4);
  font-size: 1.2rem;
  margin-left: 15px;
}

@media (max-width: 768px) {
  .contact {
    padding-bottom: 0;
  }

  .contact form {
    width: 80vw;
    margin: 50px 10vw 50px 10vw;
  }

  .contact form label,
  .contact_error_msg {
    font-size: .875rem;
  }

  .contact form textarea {
    width: calc(100% - 14px);
    resize: vertical;
    min-height: 125px;
  }

  .contact form button {
    padding: 10px 35px;
  }

  footer {
    flex-direction: column-reverse;
    padding-bottom: 125px;
  }

  footer a {
    font-size: 1.5rem;
  }

  footer p {
    margin-top: 15px;
    font-size: .7rem;
  }
}

/* =======FOOTBAR========================================== */
.footbar {
  display: none;
}

@media (max-width: 768px) {
  .footbar {
    width: 94vw;
    padding: 10px 0;
    position: fixed;
    bottom: 3vw;
    left: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    box-shadow: 1px 1px 3px rgba(255, 255, 255, .2);
    background: var(--black);
    z-index: 100;
  }

  .footbar a {
    width: 75px;
    margin: 0 5px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-radius: 14px;
    box-shadow: 1px 1px 3px rgba(33, 33, 33, .2);
  }

  .footbar a i {
    font-size: 1.2rem;
  }

  .footbar a p {
    margin: 5px 0 0 0;
    font-size: .75rem;
  }
}

/* =======ASK=PRICE======================================== */
.askprice {
  padding-bottom: 100px;
}

.askprice form {
  width: calc(100% - 20vw);
  max-width: 400px;
  margin: 50px 0 0 10vw;
}

.askprice form input,
.askprice form textarea,
.askprice form select {
  width: calc(100% - 14px);
  padding: 7px;
  margin: 2px 0 10px 0;
  border-radius: 4px;
  border: 1px solid var(--black);
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

.askprice form textarea {
  width: calc(150% - 14px);
  resize: vertical;
  min-height: 150px;
}

.askprice form select {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  outline: none;
  -webkit-appearance: none;
}

.askprice form input:focus,
.askprice form textarea:focus,
.askprice form select:focus {
  border: 1px solid var(--pink);
}

.askprice form button {
  margin-top: 10px;
  padding: 8px 45px;
  border: none;
  border-radius: 4px;
  background: var(--pink);
  color: white;
  cursor: pointer;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

.askprice form button:disabled {
  opacity: .4;
}

@media (max-width: 768px) {
  .askprice {
    padding-bottom: 50px;
  }

  .askprice form textarea {
    width: calc(100% - 14px);
    resize: vertical;
    min-height: 150px;
  }
}

/* =======ABOUT============================================ */
/* .about {
  width: 800px;
  margin: 150px calc(50% - 400px) 100px calc(50% - 400px);
  border-radius: 24px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  box-shadow: 2px 2px 7px rgba(33, 33, 33, .2);
  overflow: hidden;
  background: var(--whitesmoke);
}

.about_info {
  width: 225px;
  padding: 25px;
}

.about_story {
  width: 575px;
  padding: 25px 25px 25px 50px;
  background: #fff;
}

.about_info img {
  width: 175px;
  height: 175px;
  margin-left: 25px;
  border-top: 2px solid var(--whitesmoke);
  border-right: 2px solid var(--whitesmoke);
  border-radius: 100%;
  box-shadow: 2px 2px 7px rgba(33, 33, 33, .4);
  object-fit: cover;
  object-position: center;
  filter: grayscale();
}

.about_info_details h2 {
  width: 225px;
  text-align: center;
}

.about_info_details h4,
.about_story h4 {
  margin: 45px 0 10px 0;
}

.about_info_details h5,
.about_story h5 {
  margin-bottom: 0;
}

.about_info_details p span {
  font-weight: 600;
}

@media (max-width: 768px) {
  .about {
    display: none;
  }
}

.mobile_about {
  display: none;
}

@media (max-width: 768px) {
  .mobile_about {
    display: block;
    width: 90%;
    padding: 50px 5% 25px 5%;
    border-bottom: 1px solid var(--graysmoke);
  }

  .mobile_about img {
    width: 225px;
    height: 225px;
    margin: 0 calc(50% - 112.5px);
    border-top: 2px solid var(--whitesmoke);
    border-right: 2px solid var(--whitesmoke);
    border-radius: 100%;
    box-shadow: 2px 2px 7px rgba(33, 33, 33, .4);
    object-fit: cover;
    object-position: center;
    filter: grayscale();
  }

  .mobile_about h1 {
    margin-bottom: 25px;
    text-align: center;
  }

  .mobile_about h4 {
    margin: 50px 0 10px 0;
    font-size: 1.2rem;
  }

  .mobile_about h5 {
    font-size: 1rem;
    margin-bottom: 10px;
  }
} */
